AUTH_DEPLOYMENT_ROLE=client
AUTH_OAUTH_SITE_KEY=api
AUTH_BASE_PATH=/oauth
AUTH_CLIENT_DATABASE_URL=
AUTH_IDP_URL=https://auth.awfixer.me
NEXT_PUBLIC_AUTH_IDP_URL=https://auth.awfixer.me
NEXT_PUBLIC_APP_URL=https://api.awfixer.me
NEXT_PUBLIC_AUTH_API_URL=https://api.awfixer.me/oauth
NEXT_PUBLIC_API_URL=https://api.awfixer.me
AUTH_OAUTH_API_CLIENT_ID=awfixer-api
AUTH_OAUTH_API_CLIENT_SECRET=
PRISMA_DATABASE_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=